/* Variables and mixins declared here will be available in all other SCSS files */
/* Global Styles */

:global(p) {
  font-size: 1rem;
  font-family: Montserrat, Helvetica, sans-serif;
}

:global(a){
  font-size: 1rem;
  font-family: Montserrat, helvetica, sans-serif;  
  color: #dcbb57;
  font-weight: bold;
  text-decoration: none;

  &:visited {
    color: #DCBB57;
  }

  &:hover {
    color: white;
  }
}


:global(h1){
  color: #dcbb57;
  font-family: "Wittgenstein", helvetica, sans-serif;
}

:global(body) {
  //overflow: visible; /* Hide scrollbars */
  //background: url('/images/3D_Koleksi_foto38_gradient.webp') repeat-x scroll 0 0 #1B2C4A;
  margin: 0;
  background-color: #018060;
  color: white;
}

:global(body::-webkit-scrollbar) {
  display: none;
}

@font-face {
  font-family: "Eastman Alternate Trial Medium";
  src: url("/fonts/EastmanAlternateTrial-Medium.otf");
}

@font-face {
  font-family: "Wittgenstein";
  src: url("/fonts/Wittgenstein-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}


:global(.wrapper) {
  flex-wrap: wrap;
}

:global(#containerbody) {
  //background-color: #ffffff;
  //max-width: 976px;
  margin: auto;
  margin-bottom: 4em;
  overflow: hidden;

  //border: 2px solid #303030;
  //border-top: 0;
}

:global(.container) {
  display: flex;
  align-items: center;
  overflow: hidden;
  //background-color: #ffffff;
  max-width: 976px;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content: center;

}

@media only screen and (max-width: 768px) {
  :global(.container) {
    margin: auto;
  }
}

:global(.column-direction) {
  flex-direction: column;
}

:global(.row-direction) {
  flex-direction: row;
}

:global(.rrow-direction) {
  flex-direction: row-reverse;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}



@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
